.container-card div {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3px;
}

.holder-card {
  margin-bottom: 16px;
}

.name-descr-card{
  display: flex;
  flex-direction: row;
}

.name-card {
  margin-top: 20px;
}

.descr-card {
  margin-top: 16px;
  margin-bottom: 20px;
}

.image-card {
  width: 150px;
  height: 150px;
  margin-right: 8px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center right;
}

.group-card {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.scroll-card {
  height: 300px;
  overflow-y: scroll
}

.teste {
  border-bottom: 2px solid red;
}

h3 {
  padding: 2px;
  border-radius: 4px;
}

.sort-card {
display: flex;
flex-direction: row;
justify-content: space-between;
}

span {
  margin-left: 6px;
}

