<div class="container-card">
  <div class="holder-card">
      <div class="name-descr-card">
        <div>
          <img
            src={{user.avatar_url}}
            class="image-card"
          />
        </div>
        <div>
          <div class="name-card">
           <h3>{{user.name}}</h3>
          </div>
          <div>{{user.login}}</div>
          <div>Local: {{user.location}}</div>
          <div class="descr-card">
            {{user.bio}}
          </div>
        </div>
      </div>
      <div class="group-card">
      <div>Estrelas {{stars}}⭐</div>
      <div>Seguindo {{user.following}} 🟣</div>
      <div>Seguidores {{user.followers}} 🟡</div>
      <div>
        <Button class="button" (click)="goToRepo()">Repositórios</Button>
      </div>
    </div>
  </div>
  <div *ngIf="showRepo">
    <div class="sort-card">
      <div>Repositórios {{repos.length}} 💾</div>
      <div>
      <span class="button" (click)="sortListGrowing()">Crescente</span>
      <span class="button" (click)="sortListDescending()">Decrescente</span>
    </div>
    </div>
  <div class="scroll_card" *ngFor ="let item of repos;  index as i">
   <div>{{i+1}} - {{item.name}}</div>
  </div>
  </div>
</div>
