<div class="container-card">
  <div class="holder-card">
      <div class="name-descr-card">
        <div>
          <img
            src="https://i2.cdn.turner.com/cnnnext/dam/assets/140926165711-john-sutter-profile-image-large-169.jpg"
            class="image-card"
          />
        </div>
        <div>
          <div class="name-card">
           <h3>{{user.name}}</h3>
          </div>
          <div>CarlosSouza10</div>
          <div class="descr-card">
            Lorem ipsum dolor sit amet. Iste ipsum non dolorem officiis ex
            soluta laborum. Ut rerum provident eos corporis nihil aut commodi.
          </div>
        </div>
      </div>
      <div class="group-card">
      <div>Estrelas: 50 ⭐</div>
      <div>Seguindo: 10 🟣</div>
      <div>Seguidores: 30 🟡</div>
      <div>
        <button class="button">Repositórios</button>
      </div>
    </div>
  </div>
</div>
