<div class="container-card">
  <div class="holder-card">
    <div class="name-description-card">
      <div>
        <img src="{{ user.avatar_url }}" class="image-card" />
      </div>
      <div>
        <div class="name-card">
          <h3>{{ user.name }}</h3>
        </div>
        <div>{{ user.login }}</div>
        <div>Local: {{ user.location }}</div>
        <div class="description-card">
          {{ user.bio }}
        </div>
      </div>
    </div>

    <div class="group-card">
    <div class="icon-card">
      <div>Estrelas {{ stars }}</div>
      <span class="material-icons">star</span>
    </div>
    <div class="icon-card">
      <div>Seguindo {{ user.following }} </div>
      <span class="material-icons">public</span>
    </div>
    <div class="icon-card">
      <div>Seguidores {{ user.followers }}</div>
      <span class="material-icons">verified</span>
    </div>
      <div>
        <app-button
          id="card-repository"
          (btnClick)="goToRepo()"
          buttonText="Repositório"
          [isDisabled]="false"
        ></app-button>
      </div>
    </div>
  </div>

  <div *ngIf="showRepo">
    <div class="sort-card">
      <div class="icon-card">
      <div>Repositórios {{ repos.length }}</div>
      <span class="material-icons">collections_bookmark</span>
    </div>
      <div>
        <div class="icon-card">
        <div id="cardOrdenar" class="title-repo-card">Ordenar por quantidade de estrelas</div>
        <span class="material-icons">auto_graph</span>
        </div>
        <app-button
          id="card-growing"
          (btnClick)="sortListGrowing()"
          buttonText="Crescente"
          [isDisabled]="false"
        ></app-button>
        <app-button
          id="card-descending"
          (btnClick)="sortListDescending()"
          buttonText="Decrescente"
          [isDisabled]="false"
        ></app-button>
      </div>
    </div>

    <div *ngFor="let item of repos; index as i">
      <a
        href="https://github.com/{{ user.login }}/{{ item.name }}"
        target="_blank"
        >{{ i + 1 }} - {{ item.name }}</a
      >
    </div>
  </div>
</div>
