<div class="container">
  <form>
    <input
      type="search"
      [(ngModel)]="searchUser"
      name="searchUser"
      placeholder="Pesquisa um usuário do GitHub"
      class="input-home"
    />
    <app-button id ="home-search" (btnClick)="getUser()" buttonText="Pesquisar" [isDisabled]="false"></app-button>
  </form>
   <h3 *ngIf ="this.message">{{message}}</h3>
   <div *ngIf=" this.spinner"><app-spinner></app-spinner></div>
  <div *ngFor="let item of users">
    <app-card [user]="item"></app-card>
  </div>
</div>
