
:root {
  --color-background: #ebedef;
  --color-background-button: #4CAF50;
  --color-background-wwhite: #ffffff;
  --color-line: #c5cbd5;
  --color-icon-orange: #FB8C00;
  --color-icon-blue: #0000FF;
  --color-icon-yellow: #FFFF00;
  --color-icon-green: #008000;
  --color-icon-green004: #4CAF50;
}


* {
  padding: 0;
  margin: 0;
  font-family: Cambria;
  box-sizing: border-box;
;
}

html, body {
  background-color: var(--color-background)
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 16px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--color-background-wwhite);
    margin-bottom: 25px;
  }

  /*icon colors*/

  .material-icons.orange { color: var(--color-icon-orange); }
  .material-icons.blue { color: var(--color-icon-blue); }
  .material-icons.yellow { color: var(--color-icon-yellow); }
  .material-icons.green { color: var(--color-icon-green); }
  .material-icons.green004 { color: var(--color-icon-green); }





